.titleBar {
  background-image: url("/adu_bg_portrait_blurred.png");
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15%;
  padding-bottom: 15%;
}

.ion-text-center {
  position: relative;
}

.logo {
  width: 100px;
  height: auto;
  margin: auto;
  z-index: 1;
}

.backgroundBox {
  margin: auto;
  background-color: #7BC5F0;
  padding-inline: 8px;
  padding-block: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.chatur {
  font-size: xx-large;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
}

.meyts {
  font-size: xx-large;
  font-weight: bold;
  color: #000000;
  margin-left: 5px;
  margin: 0;
}