/* TODO: Increase the size of logo and change the title color */

.titleBar {
  background-image: url("/adu_bg_portrait_blurred.png");
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15%;
  padding-bottom: 15%;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.logo {
  margin: auto
}